@import 'libs/bootstrap-reboot.min';

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


@import 'bace/variables';
@import 'bace/main-title';

@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/sessions';
@import 'blocks/carousel';
@import 'blocks/about';


*  {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color:  #162831;
}

.container {
  width: 1296px;
  margin: 0 auto;
  &__xl {
    width: 1736px;
    margin: 0 auto;
  }
}