.about {
    &__wrapper {
        display: grid;
        grid-template-columns: 526px 526px;
        grid-template-rows: 365px 400px;
        gap: 100px 24px;
        align-items:center;
        

    }
    &__text {
        font-weight: 300;
        padding-top: 30px;
    }
    &__layout {
        padding-right: 50px;
        
    
        &-right {
        padding-left: 50px;
        }
    }
    &__photo {
        &-height {
            height: 400px;
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}